/node_modules
/oh_modules
/local.properties
/.idea
**/.DS_Store
**/*.hap
**/*.app
/.codegenie
/docs/.vitepress/dist
/docs/.vitepress/cache
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer